<launch>

<rosparam file="$(find industrial_manipulator_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="industrial_manipulator" args="twist_1_position_controller rev_1_position_controller rev_2_position_controller rev_3_position_controller twist_2_position_controller finger_rev_1_position_controller finger_rev_2_position_controller twist_3_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/industrial_manipulator/joint_states"/>
</node>

</launch>